.social-card {
	box-sizing: border-box;
	width: 500px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	margin: $spacing auto;
	background-color: white;
	border: 1px solid darken($background-color, 5%);
	border-radius: 5px;
}

.social-card-title {
	margin: $spacing;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.social-card-title-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.social-card-title__img {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50px;
	margin-right: $spacing;
}

.social-card-title__text {
	font-size: $l-font;
}

.social-card-title__link {
	color: $primary-color;
	text-decoration: none;
	font-weight: 900;
	font-size: $l-font;
}

.social-card__public-icon {
	width: 2.4rem;
	height: 2.4rem;
}

.social-card-img {
	width: 100%;
	cursor: pointer;
}

.social-card-title__more-button {
	font-size: $xl-font;
	cursor: pointer;
}

.social-card-title__text__container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social-card-info-container {
	padding: $spacing;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid darken($background-color, 4%);
	background: lighten($background-color, 3%);
}

.social-card-info {}

.social-card-info__title {
	color: #e04c60;
	font-size: $l-font;
}

.social-card-subtitle {
	font-size: $xl-font;
	font-weight: 600;
}

.social-card-info__img {
	width: $icon-size;
	height: $icon-size;
	border-radius: 50px;
	margin-right: -$margin-spacing;
	border: 2px solid white;
	box-sizing: border-box;
}

.social-card-info__people {
	margin-left: $spacing;
	font-size: $m-font;
	font-weight: 500;
	color: darken($background-color, 50%);
}

.social-card-button-star-container {
	background: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid darken($background-color, 20%);
	box-sizing: border-box;
	border-radius: 2px;
	margin: auto;
	padding: $margin-spacing 1rem;
	cursor: pointer;

	&:hover {
		background-color: lighten($background-color, 2%);
	}
}

.social-card-star__icon {
	width: 12px;
	height: 12px;
}

.social-card-star__text {
	margin-left: 10px;
	white-space: nowrap;
	font-size: $s-font;
	font-weight: 500;
	color: lighten(black, 30%);
}

.social-card-people__container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social-card-interactiong-img {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
}

.social-card-bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.social-card-interaction {
	width: 100%;
	display: flex;
	flex-direction: row;
	// justify-content: space-around;
	padding: 4px;
	box-sizing: border-box;
	border-bottom: 1px solid darken($background-color, 4%);
}


.social-card-interaction-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	border-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
	flex-grow: 1;

	&:hover {
		background-color: lighten($background-color, 4%);
	}
}

.social-card-interaction-text {
	font-size: $m-font;
	font-weight: 500;
	line-height: $m-font;
	color: darken($background-color, 50%);
	margin-left: $spacing;
}


.social-card-interaction-comment {
	display: flex;
	padding: 10px;
	box-sizing: border-box;
}

.social-card-interaction-comment-text {
	background: lighten($background-color, 3%);
	border-radius: 15px;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
	border: 1px solid darken($background-color, 6%);

}

.social-card-interaction-comment-img__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-card-interaction-comment-text_img {
	width: 16px;
	height: 16px;
	margin: 6px 8px;
	box-sizing: border-box;
	cursor: pointer;
}

.social-card-interaction-comment-text__input {
	background: lighten($background-color, 3%);
	border: none;
	width: 60%;
	margin-left: 5%;
	box-sizing: border-box;
	font-size: $m-font;

	&:focus {
		outline: none;
	}
}

.social-card-interaction__profile-picture {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50px;
	margin-right: $margin-spacing;
	box-sizing: border-box;
	cursor: pointer;
}
